.container{
    margin-bottom:45px; 
}
.item{
    height: 250px;
    width:250px;
    &:nth-child(1){
        background-color:crimson;
        color:white;
    }
    &:nth-child(2){
        background-color: teal;
        color:white;
    }
    &:nth-child(3){
        background-color:tomato;
        color:white;
    }
}
